{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "flow",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "babel-plugin-transform-decorators-legacy",
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "production": {
      "only": ["src"],
      "plugins": [
        "babel-plugin-transform-decorators-legacy",
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "test": {
      "plugins": [
        "babel-plugin-transform-decorators-legacy",
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
